*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    --verde: #D3D1A6;
    --rojo: #FF746C;
    --espartano:"League Spartan", sans-serif;
}

body{
    /* overflow-x: hidden; */

    font-family: var(--espartano);
}

.green_spartan_letters{
    color: var(--verde);
    font-family: var(--espartano);
}

.espartano{
    font-family: var(--espartano);
}

/* Cabecera */
header{
    display: grid;

    grid-template-columns: 2fr 1fr 1fr 1fr 2fr;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;

    max-width: 100vw;
    height: 10vh;

    background-color: var(--verde);
    font-family: var(--espartano);
}

header img{
    width: 30%;
    height: auto;

    justify-self: flex-start;

    margin-left: 10%;
}

header a{

    letter-spacing: 0.1em;

    font-size: 120%;
    color: black;

    font-weight: bold;
    text-decoration: none;
}

header a:hover{
    color: black;
    text-decoration: underline red;
    text-underline-offset: 50%;
    text-decoration-thickness: 10%;
}

#indice_selected{
    color: black;
    text-decoration: underline red;
    text-underline-offset: 50%;
    text-decoration-thickness: 10%;
}

header button{
    width: 47%;
    height: 85%;
    display: inline-flex;
    align-items: center;

    background-color: var(--rojo);

    border: none !important;
    border-radius: 10px;
}

header button span{
    font-size: 110%;
    
}

/* Portada */

#portada{
    display: grid;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    width: 100%;
    height: 85vh;

    background-image:url("../IMG/Portada_AsadorGuillem_AsadorBarbate.webp");
    background-size: 100% 100%;
}

/* Letras Grandes Portada */
#portada h1{
    font-size: 800%;
    letter-spacing: 0.3em;

    text-shadow: 
        -1px -1px 0px black,  
         1px -1px 0px black,
        -1px  1px 0px black,
         1px  1px 0px black;
}

#pollo_asado{
    grid-row: 1/ span 1;
    grid-column: 1 / span 1;

    margin-top: 7%;

    margin-left: 7%;
}

#pollo_asado h1:nth-child(1){
    padding-left: 2%;
}

#portada p{
    font-size: 200%;
    color: white;
}

#portada span{
    font-family: "Mr Bedfort", cursive;
    font-weight: 400;
    font-style: normal;

    color: var(--verde);
}

#descubre{
    display: grid;
    grid-template-columns: 3fr 1fr;

    grid-row: 2 / span 1;
    grid-column: 2 / span 1;

    justify-self: end;
    align-self: end;
}

#descubre p{
    margin-left: 30%;

    justify-self: end;
}

#descubre a{
    display: block;
    width: auto;
    align-self: center;
    justify-self: end;

    margin-left: 30%;
}

#descubre img{
    width: 40%;

}

/* Main 1 */

#main-1{
    width: 100%;
    height: 180vh;

    display: grid;
    grid-template-rows: 1fr 1fr;

    margin-top: 6%;
}

#main-1-1{
    display: grid;
    grid-template-columns: 1fr 1fr;

    margin-top: 1%;
}

/* Imagenes superpuestas */
#main-1-1 div:nth-child(1){
    display: flex;
    flex-direction: column;
}

#img_polloAsado{
    width: 70%;
    height: 70%;

    margin-left: 5%;

    z-index: 1;
}

#img_salsa{
    position: absolute;
    
    width: 25%;
    
    top: 145%;
    left: 18%;

    align-self: flex-end;
    
    z-index: 2;
}

/* Texto derecha Imagenes */

#main-1-1 div:nth-child(2){
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: start;

    width: 90%;

    margin-bottom: 25%;
}

.titulo-main{
    color: red;

    font-size: 250%;
    letter-spacing: 0.5em;

    margin-bottom: 10%;
}

.strong-main{
    font-size: 140%;
    font-weight: bold;
    padding-bottom: 10%;
}

.text-main{
    font-size: 130%;
    margin-bottom: 10%;
}

#main-1-1 div:nth-child(2) button{
    width: 30%;
    display: inline-block;
    text-align: center;
    font-size: 130%;
    font-weight: bold;

    background-color: red;

    border: none !important;
    border-radius: 10px;

    align-self: end;
}

#main-1-2{
    display: flex;
    flex-direction: row;
    gap: 20%;

    justify-content: center;
    align-items: center;

    padding-left: 2%;
    padding-right: 2%;

    margin-bottom: 5%;
}

#main-1-2 div{
    align-self: self-start;
}

#main-1-2 div div{
    background-color: #D3D1A6;
    opacity: 75%;

    padding: 1% 1%;

    border-radius: 10px;

    margin-bottom: 15%;
}

#main-1-2 .titulo-main{
    font-size: 200%;
}

#main-1-2 .text-main{
    margin-bottom: 0%;
}

#main-1-2 img{
    max-width: 35%;
}

#main-2{
    margin-top: 4%;

    font-family: var(--espartano);
}

#main-2-1{
    background-image: url("../IMG/Trabajador_Main2_AsadorGuillem_AsadorBarbate.webp");
    background-size: 100% 100%;

    height: 70vh;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    font-family: var(--espartano);
}

#main-2-1 img{
    width: 70%;
    margin-bottom: 20%;
}
#main-2-1 h4{
    color: white;

    width: 55%;
}

#main-2-2{
    display: flex;
    padding: 2% 5% 5% 5%;

    font-size: 120%;
}

#main-2-2 h4{
    font-size: 150%;
    margin-bottom: 10%;

    font-weight: bold;
}

.main-tripleIzq{
    margin-right: 10%;
}

.main-tripleCen{
    margin-right: 10%;
    margin-left: 10%;
}

.main-tripleDer{
    margin-left: 10%;
}

/* Main 3 */

#main-3{
    font-family: var(--espartano);

    margin-bottom: 5%;
}

#main-3 h2{
    text-align: center;

    letter-spacing: 0.2em;
    font-weight: bold;

    margin-bottom: 5%;
}

#main-3 div{
    display: flex;

    margin-left: 5%;
    margin-right: 5%;
}

#main-3 div div{
    display: flex;
    flex-direction: column;

}

#main-3 div div h4{
    font-size: 120%;

    margin-bottom: 10%;
}

/* Footer */

footer{
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    height: 50vh;

    background-color: var(--verde);

    padding-top: 2%;
    padding-bottom: 1%;
}

#footer-1{
    display: flex;
}

#footer-1 div{
    display: flex;

    width: 100%;
}

#footer-1 div div{
    display: flex;
    flex-direction: column;

    justify-content: center;

    padding-left: 10%;
    padding-right: 5%;
}

#footer-1 h1{
    color: red;

    font-size: 150%;
}

#footer-1 p{
    color: black;
}

#footer-1 h1, #footer-1 strong{
    font-family: var(--espartano);
    letter-spacing: 0.1em;
}

#horario{
    padding-top: 2%;
}

#footer-2{
    text-align: center;
}

#footer-2 p:nth-child(1){
    display: inline-block;

    border: 2px solid black;
    border-radius: 20px;

    padding-left: 2%;

}

/* Preparación page */

.red_title{

    width: 40%;

    padding: 2% 6%;
    margin-bottom: 4%;

    background-color: red;
    border-radius: 10px;

    text-align: center;
    font-size: 130%;
    font-weight: bold;
    color: white;
}

.text_izq{

    width: 40%;

    text-align: left;

}

.text_der{

    width: 40%;

    text-align: right;

}

.titulo-preparacion{
    text-align: center;

    color: red;

    font-size: 250%;
    letter-spacing: 0.3em;

    margin-bottom: 5%;

    font-weight: bold;
}

.derecha{
    margin-right: 5%;
    margin-bottom: 5%;
    align-self: flex-end;

    display: flex;
    flex-direction: row-reverse;

}

.derecha div{
    display: inline ;
    width: fit-content;
}

.izquierda{
    width: 100%;

    margin-left: 5%;
    margin-right: 5%;

    margin-bottom: 5%;
    
    align-self: flex-start;

    display: flex;
}

.izquierda div{
    width: fit-content;
}

.izquierda img, .derecha img{
    max-width: 30%;
    border-radius: 10px;
}

