*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    --verde: #D3D1A6;
    --rojo: #FF746C;
    --espartano:"League Spartan", sans-serif;
}

body{
    /* overflow-x: hidden; */

    font-family: var(--espartano);
}

.green_spartan_letters{
    color: var(--verde);
    font-family: var(--espartano);
}

.espartano{
    font-family: var(--espartano);
}

/* Portada */

#portada{
    display: grid;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    width: 100%;
    height: 85vh;

    background-image:url("../IMG/Portada_AsadorGuillem_AsadorBarbate.webp");
    background-size: 100% 100%;
}

/* Letras Grandes Portada */
#portada h1{
    font-size: 800%;
    letter-spacing: 0.3em;

    text-shadow: 
        -1px -1px 0px black,  
         1px -1px 0px black,
        -1px  1px 0px black,
         1px  1px 0px black;
}

#pollo_asado{
    grid-row: 1/ span 1;
    grid-column: 1 / span 1;

    margin-top: 7%;

    margin-left: 7%;
}

#pollo_asado h1:nth-child(1){
    padding-left: 2%;
}

#portada p{
    font-size: 200%;
    color: white;
}

#portada span{
    font-family: "Mr Bedfort", cursive;
    font-weight: 400;
    font-style: normal;

    color: var(--verde);
}

#descubre{
    display: grid;
    grid-template-columns: 3fr 1fr;

    grid-row: 2 / span 1;
    grid-column: 2 / span 1;

    justify-self: end;
    align-self: end;
}

#descubre p{
    margin-left: 30%;

    justify-self: end;
}

#descubre a{
    display: block;
    width: auto;
    align-self: center;
    justify-self: end;

    margin-left: 30%;
}

#descubre img{
    width: 40%;

}

/* Main 1 */

#main-1{
    width: 100%;
    height: 180vh;

    display: grid;
    grid-template-rows: 1fr 1fr;

    margin-top: 6%;
}

#main-1-1{
    display: grid;
    grid-template-columns: 1fr 1fr;

    margin-top: 1%;
}

/* Imagenes superpuestas */
#main-1-1 div:nth-child(1){
    display: flex;
    flex-direction: column;
}

#img_polloAsado{
    width: 70%;
    height: 70%;

    margin-left: 5%;

    z-index: 1;
}

#img_salsa{
    position: absolute;
    
    width: 25%;
    
    top: 145%;
    left: 18%;

    align-self: flex-end;
    
    z-index: 2;
}

/* Texto derecha Imagenes */

#main-1-1 div:nth-child(2){
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: start;

    width: 90%;

    margin-bottom: 25%;
}

.titulo-main{
    color: red;

    font-size: 250%;
    letter-spacing: 0.5em;

    margin-bottom: 10%;
}

.strong-main{
    font-size: 140%;
    font-weight: bold;
    padding-bottom: 10%;
}

.text-main{
    font-size: 130%;
    margin-bottom: 10%;
}

#main-1-1 div:nth-child(2) button{
    width: 30%;
    display: inline-block;
    text-align: center;
    font-size: 130%;
    font-weight: bold;

    background-color: red;

    border: none !important;
    border-radius: 10px;

    align-self: end;
}

#main-1-2{
    display: flex;
    flex-direction: row;
    gap: 20%;

    justify-content: center;
    align-items: center;

    padding-left: 2%;
    padding-right: 2%;

    margin-bottom: 5%;
}

#main-1-2 div{
    align-self: self-start;
}

#main-1-2 div div{
    background-color: #D3D1A6;
    opacity: 75%;

    padding: 1% 1%;

    border-radius: 10px;

    margin-bottom: 15%;
}

#main-1-2 .titulo-main{
    font-size: 200%;
}

#main-1-2 .text-main{
    margin-bottom: 0%;
}

#main-1-2 img{
    max-width: 35%;
}

#main-2{
    margin-top: 4%;

    font-family: var(--espartano);
}

#main-2-1{
    background-image: url("../IMG/Trabajador_Main2_AsadorGuillem_AsadorBarbate.webp");
    background-size: 100% 100%;

    height: 70vh;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    font-family: var(--espartano);

    margin-top: 200px;
}

#main-2-1 img{
    width: 70%;
    margin-bottom: 20%;
}
#main-2-1 h4{
    color: white;

    width: 55%;
}

#main-2-2{
    display: flex;
    padding: 2% 5% 5% 5%;

    font-size: 120%;
}

#main-2-2 h4{
    font-size: 150%;
    margin-bottom: 10%;

    font-weight: bold;
}

.main-tripleIzq{
    margin-right: 10%;
}

.main-tripleCen{
    margin-right: 10%;
    margin-left: 10%;
}

.main-tripleDer{
    margin-left: 10%;
}

/* Main 3 */

#main-3{
    font-family: var(--espartano);

    margin-bottom: 5%;
}

#main-3 h2{
    text-align: center;

    letter-spacing: 0.2em;
    font-weight: bold;

    margin-bottom: 5%;
}

#main-3 div{
    display: flex;

    margin-left: 5%;
    margin-right: 5%;
}

#main-3 div div{
    display: flex;
    flex-direction: column;

}

#main-3 div div h4{
    font-size: 120%;

    margin-bottom: 10%;
}

@media (max-width: 1024px){

    #main-1{
        display: flex !important;
        flex-direction: column; 
    }

    #main-1-1{
        display: flex !important;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;

        margin: 5% 2%;

        height: fit-content;

    }

    #main-1-1 div:nth-child(2){
        margin-bottom: 10% !important;
    }

    #img_salsa{
        display: none;
    }

    #img_polloAsado{
        width: 80vw !important;
        height: 50vh;

        margin: 0% !important;
    }

    #main-1-2{
        flex-direction: column !important;
    }

    #main-1-2 img{
        display: none;
    }

    #main-1-2{
        text-align: center;
    }

    .titulo-main{
        text-align: center;
        margin: 2% !important;
    }

    #main-1-2 div div{
        margin: 2% !important;
    }

    #main-2-2{
        flex-direction: column;
    }

    #main-2-2 h4{
        margin-bottom: 2% !important;
    }

    .main-tripleIzq{
        text-align: center;
        
        margin-right:0% !important;

        margin-bottom: 3%;
    }

    .main-tripleCen{
        text-align: center;

        margin-right:0% !important;
        margin-left:0% !important;

        margin-top: 3%;
        margin-bottom: 3%;
    }

    .main-tripleDer{
        text-align: center;

        margin-left:0% !important;

        margin-top: 3%;
    }

    #main-3 div{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #main-3 div div{
        width: 50vw;
        margin-bottom: 5%;
    }
}